fastapi==0.115.6
uvicorn==0.34.0
psycopg2-binary==2.9.10
prometheus-fastapi-instrumentator==7.0.2
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation-fastapi==0.50b0
python-json-logger==3.2.1